{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {{ product.name }}
{% endblock %}
{% block styles %}
    <link href="{% static "scss/detail.css" %}" rel="stylesheet">
{% endblock styles %}
{% block content %}
    <div class="product">
        <div class="product-title">{{ product.name }}</div>
        <div class="product__content">
            <div class="product__content__image">
                <img class="product__content__image-img"
                     src="{% if product.image %}
                            {{ product.image.url }}
                          {% else %}
                            {% static "img/no_image.png" %}
                          {% endif %}"
                >
            </div>
            <div class="product__content__body">
                <div class="product__content__body__header">
                    <div class="product__content__body__header__cost">
                        <div class="product__content__body__header__cost-cost">{{ product.price }}</div>
                        <div class="product__content__body__header__cost-abailable">
                            {% if product.available %}
                                Есть в наличии
                            {% else %}
                                Нет в наличии
                            {% endif %}
                        </div>
                    </div>
                    <div class="product__content__body__header__count">
                        <div class="stepper" id="stepper-{{ product.id }}">
                            <button class="stepper-add" onclick="step(event, true)">+</button>
                            <span class="stepper-value" id="counter-{{ product.id }}"></span>
                            <button class="stepper-min" onclick="step(event, false)">-</button>
                        </div>
                        <div class="product__content__body__header__count-btn">В корзину</div>
                    </div>
                    <div class="product__content__body__header__contacts">
                        <span>Заказ по телефону:</span>
                        <span>8-800-255-35-35</span>
                        <span>или</span>
                        <div class="product__content__body__header__contacts__icons">
                            <img class="product__content__body__header__contacts__icons-icon"
                                src="{% static "img/no_image.png" %}">
                            <img class="product__content__body__header__contacts__icons-icon"
                                src="{% static "img/no_image.png" %}">
                            <img class="product__content__body__header__contacts__icons-icon"
                                src="{% static "img/no_image.png" %}">
                        </div>
                    </div>
                </div>
                <div class="product__content__body__main">
                    <div class="product__content__body__main__header">
                        <div class="product__content__body__main__header-title active">Описание</div>
                        <div class="product__content__body__main__header-title">Характеристики</div>
                        <div class="product__content__body__main__header-title">Отзывы</div>
                    </div>
                    <div class="product__content__body__main__content">
                        <div class="product__content__body__main__content-title">Описание</div>
                        <div class="product__content__body__main__content__item">
                            <span>Пироженное на палочке</span> - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Suspendisse vitae finibus sapien, at condimentum nisi. Sed pretium sapien sed est congue,
                            consequat rutrum mi tempor. Vivamus pretium sagittis ipsum, eget cursus risus placerat gravida.
                            Nunc malesuada lacus in sapien volutpat, quis cursus nulla pharetra.
                        </div>
                        <div class="product__content__body__main__content__item">
                            <span>Способы употребления</span>
                            <ul>
                                {% for method in product.methods.all %}
                                    <li>{{ method.method }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="product__content__body__main__content__item">
                            <span>Состав:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae finibus sapien, at condimentum nisi.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% comment %} <div class="product-detail">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        <h1>{{ product.name }}</h1>
        <h2>
            <a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a>
        </h2>
        <p class="price">${{ product.price }}</p>
        <form action="{% url "cart:cart_add" product.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" value="Add to cart">
        </form>
        {{ product.description|linebreaks }}
    </div> {% endcomment %}
    {% block extrahead %}
        <script type="text/javascript" src="{% static 'js/stepper.js' %}"></script>
    {% endblock extrahead %}
{% endblock %}