.product {
  margin-top: 35px;
  width: 100%;
}

.product-title {
  color: #3F3D56;
  font-weight: 600;
  font-size: 48px;
}

.product__content {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.product__content__image {
  -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  width: 475px;
  height: 475px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 33px;
  margin-right: 95px;
}

.product__content__image-img {
  width: 410px;
  height: 410px;
}

.product__content__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 475px;
}

.product__content__body__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;
}

.product__content__body__header__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 30%;
  height: 113px;
}

.product__content__body__header__cost-cost {
  color: #3F3D56;
  font-size: 18px;
  padding: 10px 47px;
}

.product__content__body__header__cost-abailable {
  color: #3F3D56;
  font-size: 18px;
  padding: 13px 0px 9px;
  width: 66.25%;
  text-align: center;
}

.product__content__body__header__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.25);
  height: 113px;
}

.product__content__body__header__count .stepper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  padding-top: 10px;
}

.product__content__body__header__count .stepper-add, .product__content__body__header__count .stepper-min {
  font-weight: 600;
  font-size: 24px;
  background: #3F3D56;
  color: #FFFFFF;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  outline: none;
}

.product__content__body__header__count .stepper-add:hover, .product__content__body__header__count .stepper-min:hover {
  cursor: pointer;
}

.product__content__body__header__count .stepper-value {
  font-size: 24px;
}

.product__content__body__header__count-btn {
  border-radius: 10px;
  color: #3F3D56;
  background: #FAD150;
  font-size: 14px;
  font-weight: 600;
  margin: 10px auto 3px;
  padding: 10px 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: none;
  outline: none;
  width: 80%;
}

.product__content__body__header__count-btn:hover {
  width: 90%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.product__content__body__header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 33%;
  height: 113px;
}

.product__content__body__header__contacts span {
  color: #3F3D56;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 7px;
}

.product__content__body__header__contacts span:first-child {
  padding: 7px 0;
}

.product__content__body__header__contacts span:last-child {
  padding-bottom: 5px;
}

.product__content__body__header__contacts__icons {
  padding-bottom: 15px;
}

.product__content__body__header__contacts__icons-icon {
  width: 28px;
  height: 28px;
}

.product__content__body__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 342px;
}

.product__content__body__main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
}

.product__content__body__main__header-title {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid rgba(250, 209, 80, 0.3);
  color: #3F3D56;
  font-weight: 400;
  font-size: 18px;
  width: 33%;
  text-align: center;
  padding: 2.5px 0;
  margin-bottom: 6px;
}

.product__content__body__main__header-title.active {
  background: #FAD150;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.product__content__body__main__header-title.active:hover {
  cursor: default;
}

.product__content__body__main__header-title:hover {
  cursor: pointer;
  background: rgba(250, 209, 80, 0.3);
}

.product__content__body__main__header-title:first-child {
  border-top-left-radius: 5px;
}

.product__content__body__main__header-title:last-child {
  border-top-right-radius: 5px;
}

.product__content__body__main__header::after {
  content: '';
  height: 1px;
  background: #000;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.product__content__body__main__content {
  opacity: 0;
  padding: 0 10px 11px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.product__content__body__main__content-title {
  color: #3F3D56;
  font-weight: 600;
  font-size: 18px;
  margin: 10px auto 5px;
}

.product__content__body__main__content__item {
  color: #3F3D56;
  font-weight: 300;
  font-size: 14px;
}

.product__content__body__main__content__item:nth-child(3) span {
  margin: 10px auto 5px;
}

.product__content__body__main__content__item:last-child {
  margin: 5px auto 44px;
}

.product__content__body__main__content__item span {
  font-size: 18px;
  font-weight: 600;
}

.product__content__body__main__content__item ul li {
  list-style-type: square;
  list-style-position: inside;
  color: #3F3D56;
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  text-overflow: ellipsis;
}

.product__content__body__main__content.active {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
}
/*# sourceMappingURL=detail.css.map */