$yellow: #FAD150;
$dark: #3F3D56;
$white: #FFFFFF;
$gray: rgba(63, 61, 86, 0.5);
$light_yellow: rgba(250, 209, 80, 0.3);

.list {
  display: flex;
  flex-direction: column;

  &.popular {
    margin-top: 60px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &-title {
      color: $yellow;
      font-weight: bold;
      font-size: 36px;
      border-bottom: 1px solid $dark;
    }

    &-show {
      font-size: 14px;
      color: $dark;
      font-weight: 400;
      text-decoration: underline;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__cards {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  &__card {
    max-width: 285px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $white;
    box-shadow: 2px 2px 4px 2px rgba(63, 61, 86, 0.5);
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
      transition: 0.3s;
    }

    &:nth-child(3n+2) {
      margin: 10px;
    }

    &-image {
      width: 226px;
      height: 226px;
      margin: 30px 30px 0;
    }

    &-name {
      color: $dark;
      font-weight: 600;
      font-size: 18px;
      margin: 5px auto 15px;
    }

    &-available {
      color: $gray;
      font-size: 14px;
      margin-bottom: 5px;
    }

    &-price {
      font-size: 18px;
      color: $dark;
    }

    &__bottom {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      margin: 5px auto;

      & .stepper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95px;

        &-add, &-min {
          font-weight: 600;
          font-size: 24px;
          background: $dark;
          color: $white;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          outline: none;

          &:hover {
            cursor: pointer;
          }
        }

        &-value {

        }

        &-min {

        }
      }

      &-btn {
        color: $white;
        background: $yellow;
        border-radius: 5px;
        padding: 14px;
        width: 125px;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        transition: 0.3s;

        &:hover {
          cursor: pointer;
          background: $dark;
          color: $white;
          transition: 0.3s;
        }
      }
    }
  }
}

.categories {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: $yellow;
  border-radius: 15px;
  margin-top: 25px;
  margin-bottom: 10px;
  padding: 0 10px;

  &-item {
    padding: 25px;

    &:first-child {
      padding-left: 0;
      & a {
        font-size: 22px;
      }
    }

    &:last-child {
      padding-right: 0;
    }

    & a {
      text-decoration: none;
      color: $dark;
      font-size: 18px;
    }

    &.selected {
      text-decoration: underline;
    }
  }
}