{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}ЖИВА{% endblock %}</title>
    <link href="{% static "scss/base.css" %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    {% block styles %}{% endblock %}
</head>
<body>
{# TODO: При входе в профиль, изменять меню аутентификации #}
<header>
    <div class="main">
        <div class="item">О магазине</div>
        <div class="item">Доставка и оплата</div>
        <div class="item">Избранное</div>
    </div>
    <div class="sign">
        <span class="sign-in">Вход</span>
        <span class="sign-up">Регистрация</span>
    </div>
</header>
<div class="hero">
    <div class="hero__left">
        <div class="hero__left__logo">
            <img src="{% static "img/logo.png" %}" alt="" class="hero__left__logo-img">
            <div class="hero__left__logo-content">
                <span>ЖИВА</span>
                <a href="https://www.instagram.com/dziva_nhk/" target='_blank'>@dziva_nhk</a>
            </div>
        </div>
        <button class="hero__left-btn">Каталог</button>
    </div>
    <div class="hero__middle">
        <div class="hero__middle__items">
            <div class="hero__middle__items-item">8-800-225-35-35</div>
            <div class="hero__middle__items-item">ПН-ПТ: 10:00-19:00</div>
            <div class="hero__middle__items-item">salushkin.ds@students.dvfu.ru</div>
        </div>
        <button class="hero__middle-btn">Заказать звонок</button>
    </div>
    <div class="hero__right">
        <h2 class="hero__right-title">Ваша корзина:</h2>
        {% with total_items=cart|length %}
            <a class="hero__right-cart" href="{% url "cart:cart_detail" %}">
                {{ total_items }} тов. / {{ cart.get_total_price }}$
            </a>
        {% endwith %}
        <button class="hero__right-btn">Оформить заказ</button>
    </div>
</div>
<div id="content">
    {% block content %}{% endblock %}
</div>
<footer>
    <div class="cols">
        <div class="cols__col">
            <div class="cols__col-logo">
                <a href="/">ЖИВА</a>
            </div>
            <div class="cols__col-sublogo">
                <a href="/">Натуральные, качественные и полезные продукты питания для здоровья, молодости и красоты </a>
            </div>
        </div>
        <div class="cols__col">
            <div class="cols__col-item">О магазине</div>
            <div class="cols__col-item">Акции</div>
            <div class="cols__col-item">Консультация специалиста</div>
            <div class="cols__col-item">Реквизиты</div>
        </div>
        <div class="cols__col">
            <div class="cols__col-item">8-800-225-35-35</div>
            <div class="cols__col-item">ПН:ПТ: 10:00-19:00</div>
            <div class="cols__col-item">salushkin.ds@students.dvfu.ru</div>
        </div>
    </div>
</footer>
</body>
</html>